/* First breakpoint at 768px, which will apply the following styles when screen
size exceeds or is equal to 768 pixels */
@media screen and (min-width: 768px) {
    .wrapper {
        height: 350px;
        padding: 40px 50px;
    }

    .timer-container {
        width: 100%;
        padding: 30px 70px;
        font-size: 35px;
    }

    .timer-container h2 {
        width: 58px;
    }

    .colon {
        margin-top: -7px;
    }

    .timer-buttons {
        width: 100%;
        height: 75px;
    }

    .timerbtn {
        font-size: 25px;
    }
}

/* Second breakpoint at 1200px, which will apply the following styles when screen
size exceeds or is equal to 1200 pixels */
@media screen and (min-width: 1200px) {
    .wrapper {
        height: 450px;
        padding: 60px 80px;
    }

    .timer-container {
        width: 100%;
        padding: 30px 120px;
        font-size: 45px;
    }

    .timer-container h2 {
        width: 65px;
    }

    .colon {
        margin-top: -9px;
    }

    .timer-buttons {
        width: 100%;
        height: 95px;
    }

    .timerbtn {
        padding: 10px 30px;
        font-size: 35px;
    }
}